{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div>
  <h1>Success!</h1>
</div>

<div class="mCard">

  <h2>{{info}}</h2>
  <span>ID:{{id}}. {{date}}</span>


  <div class="mCard__butBlock">
    <a href="/product-create">To product-create form</a>
    <a href="/product-list">To product list</a>
  </div>

</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}