@use '../../lib/service.scss' as s;

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 0px;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 18px 0px 18px 0px;
}

.cardHeader {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pCard {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #444757;
  padding: 20px;
  gap: 10px;

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px dotted #b8b8b8;
    padding-top: 10px;
    // border: 1px solid greenyellow;
  }

  .field {
    // border: 1px solid red;
    height: 50px;
    padding-bottom: 5px;
  }

  .btn-block {
    display: flex;
    flex-direction: row;
  }

  .double {
    grid-column: 1/3;
  }

  span {
    height: 50px;
    // border: 1px solid red;
    padding-top: 5px;
  }

  h2 {
    // display: inline-block;
    margin: 10px 0px;
    font-weight: 400;
    font-size: 20px;
  }

  .description {
    color: #3b3b3b;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
  }

  .id {
    display: grid;
    color: #444757;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
  }

  .category {
    display: grid;
    color: #28f855;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
  }

  .price {
    display: grid;
    color: #3b3b3b;
    font-weight: 300;
    font-size: 16px;
  }

  &__butBlock {
    // border: 1px solid red;
    text-align: right;
    margin-top: 20px;
  }

  // a {
  //   text-decoration: none;
  //   color: #3b3b3b;
  //   line-height: 28px;
  //   height: 28px;
  //   border-radius: 14px;
  //   padding-left: 7px;
  // }

  // a:hover {
  //   background-color: #eaeaea;
  // }

  a {
    display: inline;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 14px;
    line-height: 28px;
    height: 28px;
    width: 130px;
    border: 1px solid #919191;
    background-color: #dbdbdb;
    color: #3b3b3b;
    transition: box-shadow 0.3s, border 0.3s,
      background-color 0.3s;
  }

  a:hover {
    // background-color: #eaeaea;
    border: 1px solid #3b3b3b;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }

  button {
    display: inline;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    height: 28px;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #919191;
    background-color: #dbdbdb;
    color: #3b3b3b;
    border-radius: 14px;
    width: 130px;
    transition: box-shadow 0.3s;
  }

  button:hover {
    border: 1px solid #3b3b3b;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }

  input {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: 300;
    height: 28px;
    // width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
  }

  input:valid {
    background-color: #e8f0fe;
    // box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }

  textarea {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: 300;
  }

  // ========== input plus ================
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    /* Удаление полоски для слайдера Firefox */
    -moz-appearance: textfield;
  }

  input:focus {
    border-color: rgba(
      0,
      0,
      222,
      0.758
    ) !important; /* Цвет рамки при активации поля ввода */
    outline: none; /* Убрать стандартный контур фокуса */
  }
  textarea:focus {
    border-color: rgba(
      0,
      0,
      222,
      0.758
    ) !important; /* Цвет рамки при активации поля ввода */
    outline: none; /* Убрать стандартный контур фокуса */
  }
  // ======================================
}
